<head>
  ..
  <script src="//cdn.jsdelivr.net/npm/@waline/client"></script>
    ...
</head>
<body>
  ...
  <div id="waline"></div>
  <script>
    Waline({
      el: '#waline-comments',
      serverURL: 'https://blog-waline-cj2n5ad4r-sunnky99.vercel.app/',
    });
  </script>
</body>